.containers {
    /* Set the container height to full viewport height */
    background-image: url('images/pixelcut-export.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 5px;
    padding: 15px;
}

.rows {
    display: flex;
    height: 88%;
    align-items: center;
    margin: 20px;
}

.cols {
    flex-basis: 50%;
}

h1 {
    color: #ffffff;
    font-size: 100px;
}

p {
    color: #ffffff;
    font-size: 13px;
    line-height: 15px;
}