.main{
        margin: 1rem;
       height: 100vh;
        width: 100%;
        
      
        
}
.section-1 {

    display: flex;
    justify-content: center;
    color: white;
    
}
.logo{
   width: 4.5rem;
   height: 2.5rem;
   margin: 1rem;
   margin-right:4rem;

}
.menu{
    
    display:  inline;
    margin: 2rem;
    color: white;

}

.options{
    display: inline;
    margin: 1.5rem;
}
.options:hover{
    cursor: pointer;
    color: #EE0000;

}
.section-2{
    display: flex;
    flex-direction: column;

}

.section-2-1{
    text-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    
    display: flex;
    justify-content: center;
    
}
.title{
    color: white;
    font-size: large;
    font-weight:1000;
}
.description {
        color: white;
        max-width: 750px;
        padding: 1rem;
        font-weight: 100;
        text-align: justify;
    }

.section-2-2{

    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
    

}




