
.details-main{
  background-color: black;

}
/*.race-detail-*/table{
  text-align: center;
  margin: auto;
  text-wrap: wrap;
  padding: 5rem ;
  border: 0.75px solid red;

}

/*.race-detail-*/th {
  background-color: black;
    color: white;
    padding: 1rem 3rem;
    border: 0.75px solid red;
}
/*.race-detail-*/td{
    padding:1rem;
    margin: 3rem;
    background-color: black;
    color: white;
}
